.section-4 {
  min-height: 40vh;
  width: 100%;
  background: #313c45;
  color: #e3e3e3;
}

.container {
  padding-top: 7vh;
  padding-bottom: 7vh;
}

h3 {
  padding-bottom: 7vh;
}
ul {
  list-style-type: none;
}
