<div class="section-4 text-center" id="technologies">
  <div class="techs">
    <h1>Some technologies that I have used</h1>
    <div #cards class="cards">
      <div class="card text-left" *ngFor="let tech of technologies" (mouseover)="pause = true" (mouseleave)="pause = false" >
        <header><h2 class="title">{{tech.name}}</h2></header>
        <img class="icon"
             [src]="'https://storage.googleapis.com/images.vreauoprogramare.ro/claudiu-lazar/' + tech.name +'.png'"
             width="150px">
        <div [ngClass]="tech.level" class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
             aria-valuemax="100">
          {{tech.level | uppercase}}
        </div>
        <div class="description">
          <div *ngIf="tech.level === 'beginner'">
            I played with this tech a little or it was way back.
          </div>
          <div *ngIf="tech.level === 'medium'">
            I used this technology for some project and I finished the job.
          </div>
          <div *ngIf="tech.level === 'good'">
            I kinda know what I'm doing with this one.
          </div>
          <div *ngIf="tech.level === 'expert'">
            This tech is pure love. Can talk a lot about it <3.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
