<div class="section-1">
  <!--<div *ngFor="let svg of svgs">-->
    <!--<div class="animated fadeIn slower logo infinite" [ngClass]="svg.class"-->
         <!--[ngStyle]="{'left': svg.left +'px', 'top':svg.top+'px'}"></div>-->
  <!--</div>-->
  <div *ngFor="let svg of svgs1">
    <div class="animated fadeIn slower logo infinite" [ngClass]="svg.class"
         [ngStyle]="{'left': svg.left +'px', 'top':svg.top+'px'}"></div>
  </div>
  <div *ngFor="let svg of svgs2">
    <div class="animated fadeIn slower logo infinite delay-1s" [ngClass]="svg.class"
         [ngStyle]="{'left': svg.left +'px', 'top':svg.top+'px'}"></div>
  </div>
  <div *ngFor="let svg of svgs3">
    <div class="animated fadeIn slower logo infinite delay-3s" [ngClass]="svg.class"
         [ngStyle]="{'left': svg.left +'px', 'top':svg.top+'px'}"></div>
  </div>
  <div>
    <div class="text-center text">
      <h1 class="solid-background">Hi there'</h1>
      <span class="solid-background">I'm Clau and this is my website</span>
    </div>
  </div>
  <i class="fa fa-angle-double-down fa-3x animated infinite slideOutDown slow" aria-hidden="true"></i>
</div>
