<div #me class="section-2" id="me">
  <div class="container">
    <div class="row ">
      <div class="col-xs-12 col-sm-8 text-left text">
        <h4>I'm a Full Stack Software Engineer.</h4>
        <br/>
        <br/>
        <h4>I like: </h4>
        <ul>
          <li>programming</li>
          <li>new technologies</li>
          <li>people</li>
          <li>sports</li>
          <li>beer</li>
          <li>and enjoying my life</li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <div class="image-cropper text-center">
          <img class="profile" src="https://images.vreauoprogramare.ro/owner/me1.jpg">
        </div>
      </div>
    </div>
  </div>
</div>
