.section-2 {
  min-height: 50vh;
  width: 100%;
  background: #cbcbcb;
  padding: 10px;
  padding-top: 7vh;
  padding-bottom: 7vh;
}

.text {
  color: #212830;
}

.image-cropper {
  margin-top: 7vh;
  width: auto;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}
