<div #me class="section-2 text-center" id="me">
  <div class="container">
    <div class="text-center">
      <div class="card text-center">
        <h3 class="card-header">I'm a Full Stack Software Engineer.</h3>
        <div class="card-body">
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <p class="text"> I am pretty enthusiastic about the new technologies that appear
              and I try to keep up with the most awesome stuff from the IT World. </p>
            </div>
            <div class="right-side col-xs-12 col-sm-5 text-center">
              <img class="profile" src="https://images.vreauoprogramare.ro/owner/me1.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
